.repo_myrepo {
  .repo_search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;

    .repo_search_btn {
      margin-left: 10px;
      padding: 5px;
      border: none;
      background-color: var(--main-lightgray);
      cursor: pointer;

      &:hover {
        background-color: var(--main-darkgray);
        color: white;
      }
    }
  }
}
