style {
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
}

:root {
  --main-darkgray: #252a30;
  --main-lightgray: #f7f8fa;
}

body * {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

@mixin ulReset {
  list-style: none;
  padding-left: 0px;
}
