style {
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
}

:root {
  --main-darkgray: #252a30;
  --main-lightgray: #f7f8fa;
  --main-blue: #007fc7;
}

body * {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
  padding-left: 0px;
}

p {
  margin: 0;
}

@mixin header {
  font-weight: 500;
  color: var(--main-darkgray);
}

@mixin contentsBox {
  width: 100%;
  padding-left: 10px;
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
}
